{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<style>
    body{
        margin:0;
        padding:0;
        background-image:url('https://images.pexels.com/photos/1064162/pexels-photo-1064162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

        background-size: 74.3% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        image-orientation: from-image;
    }
    .form{
        position:absolute;
        top: 0%;
        right: 0%;
        padding: 1%;
        transition:transform(-50-50);
        background-color: rgba(4, 14, 24, 0.485);
        font-size: 100px;
        border-radius: 0cqmax;
        border-width: 10px;
        height: 709px;
        width: 320px;
    }
    .login{
            
        height: 60px;      
        width: 100px;
        transition:transform(-50-50);
        border-radius: 20px;
        transition: all 0.4s ease;
        cursor: pointer; 
        color: aliceblue;
        background-color: black;
    }
    .login:hover {
        transform: scale(1.1); 
    }
    .email{
        height: 60px;
        width: 300px;
        transition:transform(-50-50);
        border-radius: 20px; 
        transition: all 0.4s ease;
    }
    .email:hover {
        transform: scale(1.1); 
    }
    
    .possword{
        height: 60px;
        width: 300px;
        transition:transform(-50-50);
        border-radius: 20px;
        transition: all 0.4s ease; 
    }
    .possword:hover {
        transform: scale(1.1); 
    }
    .k{
        position:absolute;
        top: 0.1%;
        right: 17%;
        color: black;
        z-index: 1;
        font-size: 30px;
    }
    .h{
        position:absolute;
        top: 17.5%;
        right: 13.5%;
        color: black;
        z-index: 1;
        font-size: 30px;
    }
    .p{
        position:absolute;
        top: 55%;
        right: 2%;
        color: black;
        z-index: 1;
        font-size: 30px;
    }
    .user-not-found{
        position: absolute;
        top: 37%;
        right: 10%;
        color: red;
        font-size: 20px;
        border: 2px solid white;
        padding: 2px;
        border-radius: 18px;
        background-color: white;
    }
    .wrong-password{
        position: absolute;
        top: 37%;
        right: 10%;
        color: red;
        font-size: 20px;
        border: 2px solid white;
        padding: 2px;
        border-radius: 18px;
        background-color: white;
    }
</style>
<form class="form" action="{{ url_for('login') }}" method="post">
    <input class="email" type="email" name="email" required><br>
    <input class="possword" type="password" name="password" required><br> 
    <button class="login" type="submit">Login</button>
</form>
<p class="k">email:</p>
<p class="h">possword:</p>
{% if wrong_password %}
    <p class="wrong-password">Wrong password.</p>
{% else %}
    {% if user_not_found %} 
        <p class="user-not-found">User not found.</p>
    {% endif %}
{% endif %}
<p class='no-account-text'>Don't have an account?</p>
<a class = 'no-account' href="{{ url_for('register') }}">Go to Register Page</a>
{% endblock %}
